# Read Oregon Medicaid Fee Schedules

Oregon's Medicaid fee schedules come in either CSV, PDF, or Excel format.
We'll download the CSV versions.

Main website for OHP Data and Reports is [here](http://www.oregon.gov/oha/healthplan/Pages/reports.aspx).

* Fee schedule are release quarterly
* File name format is in the form
    ```
    http://www.oregon.gov/oha/healthplan/DataReportsDocs/[monthname]%20YYYY%20Fee%20Schedule%20-%20CSV.csv
    ```
    
    `monthname` is generally Februrary, May, August, November; but is not consistent.
    **Manual checking at the OHP Data and Reports [website](http://www.oregon.gov/oha/healthplan/Pages/reports.aspx) is required.**
    
* `report_date` is not exact
    * It is parsed from the URL and uses the 1st of the month
    * It is not the actual date of the fee schedule report posted on the [website](http://www.oregon.gov/oha/healthplan/Pages/reports.aspx)

In [1]:
library(data.table)
readFS <- function (url) {
    require(data.table, quietly=TRUE)
    require(lubridate, quietly=TRUE)
    x <- strsplit(url, "(%20)|/|-")[[1]]
    i <- grep("20[01][0-9]", x)
    year <- x[i]
    month <- x[i - 1]
    D <- fread(url, colClasses="character", na.strings=c(""))
    old <- names(D)
    new <- tolower(gsub("(\\s+)|(\\n)", "_", old))
    new <- gsub("^proc_code$", "procedure_code", new)
    new <- gsub("mod1|mod_1", "modifier_1", new)
    new <- gsub("mod2|mod_2", "modifier_2", new)
    setnames(D, old, new)
    D <- D[procedure_code != ""]
    D <- D[, price := as.numeric(gsub("(\\$)|(,)", "", price))]
    D <- D[, effective_date := fast_strptime(effective_date, "%Y%m%d")]
    D <- D[, report_date := as.Date(paste(month, "01", year), format="%B %d %Y")]
    if (!("modifier_2" %in% names(D))) {D <- D[, modifier_2 := NA_character_]}
    if (!("rate_type" %in% names(D))) {D <- D[, rate_type := NA_character_]}
    D[,
      .(procedure_code,
        description,
        modifier_1,
        modifier_2,
        rate_type,
        price,
        effective_date,
        report_date)]
}

In [2]:
urlStem <- "http://www.oregon.gov/oha/healthplan/DataReportsDocs/"
fs <- rbindlist(list(
    readFS(paste0(urlStem, "March%202010%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "May%202010%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August%202010%20Fee%20Schedule%20-%20CSV.csv")),
    # readFS(paste0(urlStem, "December%202010%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "February%202011%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "May%202011%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August%202011%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "November%202011%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "February%202012%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "May%202012%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August%202012%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "November%202012%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "March%202013%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August%202013%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "Nov%202013%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "February-March%202014%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "May-June%202014%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August%202014%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "November%202014%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "February-March%202015%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "May%202015%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "August-September%202015%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "December%202015%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "February%202016%20Fee%20Schedule%20-%20CSV.csv")),
    readFS(paste0(urlStem, "April%202016%20Fee%20Schedule%20-%20CSV.csv"))
))
str(fs)

Attaching package: 'lubridate'

The following objects are masked from 'package:data.table':

    hour, mday, month, quarter, wday, week, yday, year

Classes 'data.table' and 'data.frame':	844662 obs. of  8 variables:
 $ procedure_code: chr  "100" "102" "103" "104" ...
 $ description   : chr  "ANESTH, SALIVARY GLAND" "ANESTH, REPAIR OF CLEFT LIP" "ANESTH, BLEPHAROPLASTY" "ANESTH, ELECTROSHOCK" ...
 $ modifier_1    : chr  NA NA NA NA ...
 $ modifier_2    : chr  NA NA NA NA ...
 $ rate_type     : chr  NA NA NA NA ...
 $ price         : num  24.2 24.2 24.2 24.2 24.2 ...
 $ effective_date: POSIXct, format: "2008-01-01" "2008-01-01" ...
 $ report_date   : Date, format: "2010-03-01" "2010-03-01" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [3]:
fs[, .N, report_date][order(report_date)]

    report_date     N
 1:  2010-03-01 28080
 2:  2010-05-01 28105
 3:  2010-08-01 28104
 4:  2011-02-01 26769
 5:  2011-05-01 26812
 6:  2011-08-01 26952
 7:  2011-11-01 27005
 8:  2012-02-01 27000
 9:  2012-05-01 26988
10:  2012-08-01 26927
11:  2012-11-01 26920
12:  2013-03-01 26787
13:  2013-08-01 27130
14:  2013-11-01 27146
15:  2014-03-01 45997
16:  2014-06-01 45961
17:  2014-08-01 45973
18:  2014-11-01 46498
19:  2015-03-01 46171
20:  2015-05-01 46236
21:  2015-09-01 46732
22:  2015-12-01 46798
23:  2016-02-01 46903
24:  2016-04-01 46668
    report_date     N

In [4]:
head(fs)
tail(fs)

   procedure_code                 description modifier_1 modifier_2 rate_type
1:            100      ANESTH, SALIVARY GLAND         NA         NA        NA
2:            102 ANESTH, REPAIR OF CLEFT LIP         NA         NA        NA
3:            103      ANESTH, BLEPHAROPLASTY         NA         NA        NA
4:            104        ANESTH, ELECTROSHOCK         NA         NA        NA
5:            120         ANESTH, EAR SURGERY         NA         NA        NA
6:            124            ANESTH, EAR EXAM         NA         NA        NA
   price effective_date report_date
1: 24.19     2008-01-01  2010-03-01
2: 24.19     2008-01-01  2010-03-01
3: 24.19     2008-01-01  2010-03-01
4: 24.19     2008-01-01  2010-03-01
5: 24.19     2008-01-01  2010-03-01
6: 24.19     2008-01-01  2010-03-01

   procedure_code                 description modifier_1 modifier_2 rate_type
1:          V5267  Hearing aid sup/access/dev         NA         NA        NA
2:          V5274             Ald unspecified         NA         NA        NA
3:          V5336 Repair communication device         NA         NA        NA
4:          V5362            Speech screening         NA         NA        NA
5:          V5363          Language screening         NA         NA        NA
6:          V5364         Dysphagia screening         NA         NA        NA
    price effective_date report_date
1:  72.92     2009-01-01  2016-04-01
2: 115.16     2009-01-01  2016-04-01
3: 780.61     2009-01-01  2016-04-01
4:  32.79     2009-01-01  2016-04-01
5:  32.79     2009-01-01  2016-04-01
6:  32.78     2009-01-01  2016-04-01

The December 2010 fee schedule throws an error.
This can be fixed by using the [dev version (1.9.7)](https://github.com/Rdatatable/data.table/blob/master/NEWS.md) of data.table, which adds a `fill=` argument to `fread`.

In [5]:
readFS(paste0(urlStem, "December%202010%20Fee%20Schedule%20-%20CSV.csv"))
readLines(paste0(urlStem, "December%202010%20Fee%20Schedule%20-%20CSV.csv"))[15169]

ERROR: Error in fread(url, colClasses = "character", na.strings = c("")): Expecting 7 cols, but line 15169 contains text after processing all cols. It is very likely that this is due to one or more fields having embedded sep=',' and/or (unescaped) '\n' characters within unbalanced unescaped quotes. fread cannot handle such ambiguous cases and those lines may not have been read in as expected. Please read the section on quotes in ?fread.

[1] "59151,TREAT ECTOPIC PREGNANCY,AS,,,$111.67 ,20100101,,,,,,,"